<h1>Welcome to Truck Tool</h1>
<p>This is an interactive tool allowing you to experiment with placing loads on a truck</p>

<h2> Recent Projects </h2>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Project</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.owner %></td>
	<td><%= link_to 'Build Load', {controller: 'load_builder', action: 'index', project_id: project.id}, class: 'btn btn-primary btn-xs'%></td>
	<td><%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-default btn-xs'%></td>
      </tr>
    <% end %>
  </tbody>
</table>