<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </div>
  <div>
    <%= f.label :project_items %><br>
    <%= f.fields_for :project_items do |builder| %>
  	  <%= render 'project_item_fields', :f => builder %>
    <% end %>
  </div>
  <div>
    <%= f.label :project_vehicles %><br>
    <%= f.fields_for :project_vehicles do |builder| %>
  	  <%= render 'project_vehicle_fields', :f => builder %>
    <% end %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
