<table class="manifest">
	<thead>
		<tr>
			<th>#</th>
			<th>Item</th>
			<th>KGS</th>
			<th>M3</th>
		</tr>
	</thead>
	<tbody>
                <% total_kgs = 0 %>
                <% total_m3  = 0 %>
		<% @project.project_items.each_with_index do |pi, i| %>
		<tr>
			<td><%= i+1 %></td>
			<td><%= truncate(pi.item.desc) %></td>
			<td><%= pi.item.kgs %></td>
			<td><%= pi.item.m3.round(3) %></td>
                        <% total_kgs += pi.item.kgs %>
                        <% total_m3  += pi.item.m3 %>
		</tr>
		<% end %>
		<tr>
                  <td colspan="2"><b>Total Required</b></td>
                        <td><b><%= total_kgs %></b></td>
                        <td><b><%= total_m3.round(3) %></b></td>
		</tr>
                <% total_vehicle_m3  = 0 %>
		<% @project.project_vehicles.each_with_index do |pi, i| %>
		<tr>
			<td><%= i+1 %></td>
			<td><%= truncate(pi.vehicle.desc) %></td>
			<td></td>
			<td><%= pi.vehicle.m3.round(3) %></td>
                        <% total_vehicle_m3  += pi.vehicle.m3 %>
		</tr>
		<% end %>
		<tr>
                  <td colspan="2"><b>Max Capacity</b></td>
			<td></td>
                        <td><b><%= total_vehicle_m3.round(3) %></b></td>
		</tr>
	</tbody>
</table>