<div class="fields">
  <%= f.label :vehicle %>
  <%= f.collection_select :vehicle_id, Vehicle.all, :id, :desc, include_blank: true %>    
  <%= f.check_box :_destroy, class: 'destroy_input' %>
  (remove)
</div>
