<div class="fields">
  <%= f.label :item %>
  <%= f.collection_select :item_id, Item.all, :id, :desc, include_blank: true %>    
  <%= f.label :note %>
  <%= f.text_field :note %>
  <%= f.label :x %>
  <%= f.text_field :x %>
  <%= f.label :y %>
  <%= f.text_field :y %>
  <%= f.check_box :_destroy, class: 'destroy_input' %>
  (remove)
</div>
