<h1>Edit Project</h1>

<div>
<p class="text-success bg-success"><%= notice %></p>
</div>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Manifest', :controller => :projects, :action => :manifest %> |
<%= link_to 'Back', projects_path %>
