<h1>Projects</h1>

<div class="top-buttons">
  <%= link_to 'New Project', new_project_path, :class => 'btn btn-default btn-sm'  %>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Owner</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.owner %></td>
	<td><%= link_to 'Build Load', {controller: 'load_builder', action: 'index', project_id: project.id}, class: 'btn btn-primary btn-xs'%></td>
	<td><%= link_to 'Show', project, :class => 'btn btn-default btn-xs' %></td>
	<td><%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-default btn-xs'%></td>
	<td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

