<div>
<p class="text-success bg-success"><%= notice %></p>
</div>

<h1>Project: <%= @project.title %></h1>

<p>
  <strong>Owner:</strong>
  <%= @project.owner %>
</p>

<h2>Items in Project</h2>
<ol>
<% @project.project_items.each do |project_item| %>
    <li><%= project_item.item.desc if project_item.item != nil %> - <%= project_item.note %></li>
<% end %>
</ol>

<h2>Vehicles in Project</h2>
<% @project.vehicles.each do |v| %>
    <p><%= v.desc %></p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
