
<div id="project">
  <%= hidden_field_tag :project_id, @project.id %>	
  <%= hidden_field_tag :scale, @scale %>	
</div>

<div id="toolbar">
  <div id="tool-remove" class="tool-icon">Trash</div>
  <div id="tool-info" class="tool-icon">Info</div>
  <div id="tool-rotate" class="tool-icon btn">Rotate</div>
  <br class="clear" />
</div>

<div id="pallet">
<p class="label">Vehicles / Containers<br>
(Drag items onto work area)</p>
	
<div id="vehicles">
  <% @vehicles.each do |v| %>
    <div class="vehicle-icon draggable-icon" id="vehicle-icon_<%= v.id %>">
      <%= v.desc %><br>
      <%= v.m3.round(3) %>m<sup>3</sup>
    </div>
  <% end %>
  <br class="clear" />
</div>

<p class="label">Freight Items</p>
<div id="items">
  <% @items.each do |i| %>
    <div id="item-icon_<%= i.id %>" class="item-icon draggable-icon" style="width: <%= @scale * i.w %>px; height: <%= @scale * i.l %>px "><%= i.desc %></div>
  <% end %>
  <br class="clear" />
</div>

<br class="clear" />

</div>

<div id="workspace">
  <div id="manifest">
    <%= render 'projects/manifest_table' %>		
  </div>
  <% @project.project_vehicles.each do |pv| %>
    <div id="project-vehicle_<%= pv.id %>" class="vehicle draggable" 
      style="width: <%= pv.vehicle.w * @scale %>px; height: <%= pv.vehicle.l * @scale %>px; left: <%= pv.x %>px; top: <%= pv.y %>px;">
      <%= pv.vehicle.desc %>
    </div>
  <% end %>
  <% @project.project_items.each do |pi| %>
    <div id="project-item_<%= pi.id %>" class="item draggable" style="width: <%= pi.w * @scale %>px; height: <%= pi.l * @scale %>px; left: <%= pi.x %>px; top: <%= pi.y %>px;"><%= pi.item.desc %></div>
  <% end %>
</div>
