<h1>Editing Item</h1>
 
<%= form_for :item, url: item_path(@item), method: :patch do |f| %>
  <% if @item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@item.errors.count, "error") %> prohibited
      this item from being saved:</h2>
    <ul>
    <% @item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </p>
 
  <p>
    <%= f.label :l %><br>
    <%= f.text_field :l %>
  </p>

  <p>
    <%= f.label :w %><br>
    <%= f.text_field :w %>
  </p>

  <p>
    <%= f.label :h %><br>
    <%= f.text_field :h %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>

<% end %>
 
<%= link_to 'Back', items_path %>
