<h1>Items</h1>

<div class="top-buttons">
<%= link_to 'New Item', new_item_path, :class => 'btn btn-default btn-sm' %>
</div>

<table class="table table-condensed">
  <tr>
    <th>Description</th>
    <th>Dims</th>
    <th colspan="3"></th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><%= item.desc %></td>
      <td><%= item.l %> x <%= item.w %> x <%= item.h %></td>
      <td><%= link_to 'Show', item_path(item), :class => 'btn btn-default btn-xs' %></td>
      <td><%= link_to 'Edit', edit_item_path(item), :class => 'btn btn-default btn-xs' %></td>
      <td><%= link_to 'Destroy', item_path(item),
                    method: :delete,
                    :class => 'btn btn-default btn-xs' %>
      </td>
    </tr>
  <% end %>
 
</table>
