<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>
  <div class="field">
    <%= f.label :size_class %><br>
    <%= f.text_field :size_class %>
  </div>
  <div class="field">
    <%= f.label :l %><br>
    <%= f.text_field :l %>
  </div>
  <div class="field">
    <%= f.label :w %><br>
    <%= f.text_field :w %>
  </div>
  <div class="field">
    <%= f.label :h %><br>
    <%= f.text_field :h %>
  </div>
  <div class="field">
    <%= f.label :gvm %><br>
    <%= f.number_field :gvm %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
