<h1>Listing vehicles</h1>

<div class="top-buttons">
  <%= link_to 'New Vehicle', new_vehicle_path, :class => 'btn btn-default btn-sm' %>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Desc</th>
      <th>Size/Class</th>
      <th>L</th>
      <th>W</th>
      <th>H</th>
      <th>Gvm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.desc %></td>
        <td><%= vehicle.size_class %></td>
        <td><%= vehicle.l %></td>
        <td><%= vehicle.w %></td>
        <td><%= vehicle.h %></td>
        <td><%= vehicle.gvm %></td>
        <td><%= link_to 'Show', vehicle, :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle), :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', vehicle_path(vehicle),
                          {method: :delete, 
			  data: { confirm: 'Are you sure?' }, 
			  class: 'btn btn-default btn-xs'} %>
		
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

