<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @vehicle.desc %>
</p>

<p>
  <strong>Size/Class:</strong>
  <%= @vehicle.size_class %>
</p>

<p>
  <strong>L:</strong>
  <%= @vehicle.l %>
</p>

<p>
  <strong>W:</strong>
  <%= @vehicle.w %>
</p>

<p>
  <strong>H:</strong>
  <%= @vehicle.h %>
</p>

<p>
  <strong>Gvm:</strong>
  <%= @vehicle.gvm %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
