// Place all the styles related to the load_builder controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project {
  margin-top: 10px;
}

#workspace {
  width: 85%;
  height: 1000px;
  border: 1px solid black;

  // Must be non-static position so item/vehicle divs can be
  // positioned absolute to the workspace div
  position: relative;
  top: 0;
  left: 0;

  float: left;
}

// tool pallet
#pallet {
  width: 15%;
  border: 1px solid black;
  float: left;
  height: 1000px;
}

#items {
  float: left;
}

#vehicles {
  float: left;
}

#toolbar {
  width: 100%;
  border: 1px solid black;
}

.vehicle {
  font-size: 8pt;
  line-height: 100%;
  border: 2px solid gray;
  background: #cccccc;
  color: #999;
  padding: 2px;
  margin: 5px;
  float: left;
  width: 100px;
  height: 100px;
  z-index: 10;
  position: absolute;
  top: 0;  // offset in workspace
  left: 0;
}

.item {
  font-size: 8pt;
  line-height: 100%;
  text-align: center;
  color: #999;
  padding: 2px;
  background: yellow;
  width: 50px;
  height: 50px;
  border: 2px solid burlywood;
  z-index: 20;
  position: absolute;
  top: 0;  // offset in workspace
  left: 0;
}

.tool-icon {
  border: 1px solid black;
  background: white;
  margin: 2px;
  float: left;
  overflow: hidden;
  width: 60px;
  height: 60px;
  text-align: center;
}

#tool-remove {
  border: 4px dashed #ffcccc;
  background: bisque;
  width: 60px;
  height: 60px;
  float: right;
}

#tool-info {
  border: none;
  width: 300px;
  height: 60px;
  background: #EFEFEF;
  text-align: left;
}

#tool-rotate {
  border: none;
  color: white;
  background: deepskyblue;
  width: 80px;
}

.tool-hover {
  border: 4px dashed red !important;
}

.selected-element {
  border: 2px solid #66ff00 !important;
}

.item-icon {
  font-size: 8pt;
  line-height: 100%;
  border: 2px solid burlywood;
  background: yellow;
  padding: 1px;
  margin: 2px;
  float: left;
  display: inline-block;
}

.vehicle-icon {
  font-size: 8pt;
  line-height: 100%;
  border: 2px solid gray;
  background: #cccccc;
  padding: 5px 10px;
  margin: 2px;
  float: left;
  overflow: hidden;
}

#manifest {
  float: right; 
}

p.label {
  color: purple;
}

.clear {
  clear: both;
}
